body{
    text-align:center;
    background-color:LightGrey;
  }  
  .header1
  {
    font-weight:bold;
    font-size:30px;
  }
  
  
  
  
  #img1{
   
      
    padding: 2px;
    
    height: 400px;
  }
  